.blogContent h2:hover .anchor {
    visibility: visible;
}
  
.anchor {
    float: left;
    margin-left: -30px;
    padding-right: 8px;
}
  
.anchor:before {
    visibility: hidden;
    color: gray;
    content: '#'
}
.anchor::after {
    content: none !important;
}
  
.blogContent{
    width: 80%;
    padding-left: 5%;
}

.blogContent h2:hover .anchor:before {
    visibility: visible;
}

.blogContent h2{
    font-size: 2.3vw;
    font-weight: 500;
    color: var(--text-head);
    padding-top: 10px;
    scroll-behavior: smooth;
    scroll-margin-top: 7vw;
}

.blogContent h2 strong{
    font-weight: 500;
}

.blogContent h3{
    font-size: 1.8vw;
    font-weight: 400;
    color: var(--text-head);
    padding-top: 10px;
}

.blogContent h3 strong{
    font-weight: 500;
}

.blogContent p{
    font-size: 1.15vw;
    font-family: 'Ageo';
    text-rendering: geometricPrecision;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0.5px;
    margin: 3.5% 0;
}

.blogContent p:first-child{
    margin-top: 0;
}

.blogContent ul{
    margin-left: 1.5vw;
}

.blogContent ul li{
    font-family: 'Ageo';
    text-rendering: geometricPrecision;
    font-weight: 500;
    font-size: 1.15vw;
    letter-spacing: 0.5px;
    line-height: 1.7;
    color: var(--text-body);
    list-style: disc;
    margin: 2% 0;
}

.blogContent ul li strong{
    font-family: 'Ageo' !important;
    text-rendering: geometricPrecision !important;
    font-weight: 600 !important;
    color: var(--text-head) !important;
}

.blogContent figure {
    margin: 12% 0;
}

.blogContent img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.blogContent a{
    color: var(--primary);
    position: relative;
    transition: all 200ms ease;
}
.blogContent a::after{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: -5%;
    height: 1px;
    width: 100%;
    transform: scaleX(0);
    background: #2b87ff;
    transition: all 150ms ease;
}
.blogContent a:hover{
    color: #2b87ff;
}
.blogContent a:hover::after{
    transform: scaleX(1);
}

/* Media 1024px */
@media screen and (max-width: 1024px) {
    .blogContent{
        width: 100%;
        padding: 0 5%;
    }
    .blogContent h2{
        font-size: 5vw;
    }
    .blogContent p{
        font-size: 3.5vw;
        line-height: 1.5;
        letter-spacing: 0;
    }
    .blogContent ul li{
        font-size: 3.5vw;
    }
    .blogContent img{
        border-radius: 1rem;
    }
}

@media screen and (max-width: 1024px) {
    .blogContent h2{
        font-size: 6vw;
    }
    .blogContent h3{
        font-size: 5.2vw;
    }
    .blogContent p{
        font-size: 4.2vw;
    }
    .blogContent ul li{
        font-size: 4.2vw;
    }
}