@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #1069DF;
  --white: #ffffff;
  --sky: #f8f8ff;
  --black: #000000;
  --text-body: #444444;
  --text-head: #2a2a2a;
  --gray-100: #f9f9f9;
  --gray-200: #d9d9d9;
  --card-sky: #D7E8EE;
  --card-gray: #D7D7D7;
  --card-beige: #D9D5BF;
  --transition-1:  all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  --transition-2: transform .75s cubic-bezier(.19,1,.22,1);
  --transition-btn: all .45s cubic-bezier(.785,.135,.15,.86);
}

body{
  background: var(--white);
  color: var(--text-body);
  font-family: 'Aeonik';
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding-top: 20px;
  font-kerning: normal;
}

/* Background Canvas */
.canvas-container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}
#gradient-canvas {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  --gradient-color-1: #ffffff;
  --gradient-color-2: #ffffff;
  --gradient-color-3: #6ec3f4;
  --gradient-color-4: #ffffff;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Aeonik';
  text-rendering: geometricPrecision;
}
a{
  text-rendering: geometricPrecision;
}
p{
  font-family: 'Ageo';
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

/*01. Fonts */
/*==============FONTS===================*/

/* Ageo */
@font-face {
  font-family: 'Ageo';
  src: url('/assets/fonts/Ageo/Ageo.woff2') format('woff2');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Ageo';
  src: url('/assets/fonts/Ageo/Ageo-Medium.woff2') format('woff2');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}

/* Aeonik */
@font-face {
  font-family: 'Aeonik';
  src: url('/assets/fonts/Aeonik/Aeonik-Light.otf') format('otf');
  src: url('/assets/fonts/Aeonik/Aeonik-Light.woff2') format('woff2');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Aeonik';
  src: url('/assets/fonts/Aeonik/Aeonik-Regular.otf') format('otf');
  src: url('/assets/fonts/Aeonik/Aeonik-Regular.woff2') format('woff2');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Aeonik';
  src: url('/assets/fonts/Aeonik/Aeonik-Medium.otf') format('otf');
  src: url('/assets/fonts/Aeonik/Aeonik-Medium.woff2') format('woff2');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Aeonik';
  src: url('/assets/fonts/Aeonik/Aeonik-MediumItalic.otf') format('otf');
  src: url('/assets/fonts/Aeonik/Aeonik-MediumItalic.woff2') format('woff2');
       font-weight: 500;
       font-display: swap;
       font-style: italic;
}
@font-face {
  font-family: 'Aeonik';
  src: url('/assets/fonts/Aeonik/Aeonik-Bold.otf') format('otf');
  src: url('/assets/fonts/Aeonik/Aeonik-Bold.woff2') format('woff2');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}
/*==============FONTS END===================*/

.container-lg{
  width: 90%;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  max-width: 100% !important;
}

.container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 100% !important;
}

@media screen and (max-width: 1536px) {
  .container{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 100% !important;
  }
}

section{
  height: 100%;
  width: 100%;
}

.flex-all{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Titles CSS Start Main */
.title-5xl{
  font-size: 5vw;
  color: #414141;
  line-height: 1;
}
.title-5xl .hero-anim .span{
  line-height: 1.5;
}
.title-4xl{
  font-size: 3.8vw;
  color: var(--text-head);
  line-height: 1.1;
  margin-bottom: 5vw;
}
.title-4xl.text-anim span{
  overflow: hidden;
  line-height: 1.2;
}
.title-3xl{
  font-size: 2.4vw;
}
.title-2xl{
  font-size: 2vw;
}
.title-xl{
  font-size: 1.88vw;
}

/* Buttons CSS Start Main */
.section-btn-container{
 text-align: center;
}
/* Main button */
.btn{
  display: inline-flex;
  align-items: center;
  padding: 0 1.8vw;
  height: 4.65vw;
  position: relative;
  width: 100%;
  max-width: 14vw;
  border-radius: 1000px;
  background: var(--text-head);
  color: white;
  font-size: 1.05vw;
  font-weight: 500;
}
.btn .btn-circle{
  clip-path: inset(1vw 1vw 1vw calc(100% - 3.8vw) round 4vw);
  position: absolute;
  inset: -1px;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  padding: 0 1.8vw;
  z-index: 2;
  background-color: white;
  color: var(--text-head);
  transition: all .45s cubic-bezier(.785,.135,.15,.86);
}
.btn .btn-circle-text{
  padding: 0 2px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.btn .btn-icon{
  width: 0.8vw;
  height: 0.8vw;
  overflow: hidden;
}
.btn .btn-icon .btn-path{
  transition: transform .45s cubic-bezier(.785,.135,.15,.86);
  transform-origin: center center;
}
.btn .btn-icon .btn-path:first-child{
  transform: translateX(-120%) scale(0);
}
.btn:hover .btn-icon .btn-path:first-child{
  transform: translateX(0) scale(1);
}
.btn:hover .btn-icon .btn-path:last-child{
  transform: translateX(120%) scale(0);
}
.btn:hover .btn-circle{
  clip-path: inset(0 round 4vw);
  background-color: var(--primary);
  color: white;
}

/* Button Secondary */
.btn[data-secondary]{
  background: none;
  color: var(--primary);
  border: 1px solid var(--primary);
}
.btn[data-secondary] .btn-circle{
  background-color: var(--primary);
  color: white;
}
.btn[data-secondary] .btn-circle{
  clip-path: inset(1vw 1vw 1vw calc(100% - 3.7vw) round 4vw);
}
.btn[data-secondary]:hover .btn-circle{
  clip-path: inset(0 round 4vw);
}
.btn-icon[data-second-install] .btn-path:first-child{
  transform: translateY(-120%) scale(0.5);
}
.btn:hover .btn-icon[data-second-install] .btn-path:first-child{
  transform: translateY(0) scale(1);
}
.btn:hover .btn-icon[data-second-install] .btn-path:last-child{
  transform: translateY(120%) scale(0.5);
}


/* Button Secondary Header */
.btn.header-btn{
  padding: 0 1vw;
  height: 3.8vw;
  width: 13vw;
  background: none;
}
.btn.header-btn .btn-circle{
  padding: 0 1vw;
  clip-path: inset(0.6vw 0.7vw 0.6vw calc(100% - 3.3vw) round 4vw);
}
.btn.header-btn .btn-circle-text{
  padding: 0 0.55vw 0 0;
}
.btn.header-btn:hover .btn-circle{
  clip-path: inset(0 round 4vw);
}


/* Button Header */
.btn-2{
  display: inline-flex;
  align-items: center;
  padding: 0 1.8vw;
  height: 4vw;
  position: relative;
  width: 12vw;
  border-radius: 1000px;
  background: var(--primary);
  color: white;
  font-size: 1.05vw;
  font-weight: 500;
  justify-content: center;
}
.btn-2 .btn-label {
  transform: translateX(0);
  transition: transform .45s cubic-bezier(.785,.135,.15,.86);
}
.btn-2 .btn-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
  top: 0.9vw;
  right: 0.9vw;
  height: 2.2vw;
  width: 2.2vw;
  background-color: white;
  color: var(--primary);
  clip-path: circle(0 at 50% 50%);
  transition: clip-path .45s cubic-bezier(.785,.135,.15,.86);
}
.btn-2 .btn-icon{
  height: 0.8vw;
  width: 0.8vw;
  overflow: hidden;
  transform: translateY(-110%) scale(0);
  transition: transform .45s cubic-bezier(.785,.135,.15,.86);
}

.btn-2:hover .btn-label{
  transform: translateX(-1.2vw);
}
.btn-2:hover .btn-circle {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}
.btn-2:hover .btn-icon{
  transform: translateY(0) scale(1);
}


/* Link Button */
.link-btn{
  display: inline-flex;
  font-size: 1.2vw;
  align-items: center;
  font-weight: 500;
  position: relative;
  color: var(--text-head);
  font-family: 'Aeonik';
}

.link-btn:hover{
  color: var(--primary);
}

.link-btn .btn-text{
  width: 100%;
  position: relative;
  transition: var(--transition-1);
}

.link-btn .btn-text:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 95%;
  transform: scaleX(0);
  transform-origin: center;
  background: var(--primary);
  transition: var(--transition-1);
}

.link-btn:hover .btn-text:after{
  transform: scaleX(1);
}

.link-btn .btn-images{
  width: 2vw;
  overflow: hidden;
}
.link-btn .btn-images div{
  display: inline-flex;
  gap: 5px;
  width: 200%;
  transition: var(--transition-1);
  transform: translateX(-50%);
}
.link-btn:hover .btn-images div{
  transform: translateX(0%);
}
.link-btn svg{
  width: 1.5vw;
}

/* Button CSS Main END */


/*================ Preloader CSS START Main============= */
.preloader{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
}
.preloader-overlay{
  background: var(--primary);
  height: 100%;
  width: 100%;
}
.preloader-text{
  font-size: 2vw;
  font-family: 'Aeonik';
  font-weight: 400;
  text-rendering: geometricPrecision;
  color: white;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 10%;
}
.preload-para{
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.5vw;
  overflow: hidden;
  text-align: center;
  width: 100%;
  justify-content: center;
}
.preload-para span{
  display: block;
  transform: translateY(100%);
  opacity: 0;
}

.preload-img-span{
  width: 14vw;
  height: auto;
}
.preloader-img{
  width: 13.5vw;
  position: absolute;
  left: 37.4%;
  top: 44.6%;
  transform: translateY(100%);
  opacity: 0;
}

/*================ Header CSS START Main============= */
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  padding: 0.8vw 0;
  transition: all 300ms ease;
}

.scrolled {
  background: #ffffffa3;
  backdrop-filter: blur(12px);
  box-shadow: 1px 1px 10px #00000010;
}

.header-container{
  width: 88%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container{
  width: 11.5vw;
}
.logo-container img{
  width: 100%;
  height: auto;
}
.logo-container a{
  position: relative;
  z-index: 1;
}
.navbar-list {
  display: flex;
  align-items: center;
  gap: 3vw;
  font-family: 'Aeonik';
  font-weight: 500;
}
.nav-list-item>a{
  font-size: 1.1vw;
  color: var(--text-head);
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}
.nav-list-item>a svg{
  width: 0.7vw;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 2px;
}
.nav-list-item>a.dropdown::before{
  content: '';
  height: 70px;
  background: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.nav-list-item>a span{
  position: relative;
}
.nav-list-item>a span::after{
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  background: var(--primary);
  width: 100%;
  height: 1.5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: var(--transition-2);
}
.nav-list-item:hover>a span::after{
  transform: scaleX(1);
  transform-origin: left;
}
.nav-list-item:hover>a{
  color: var(--primary);
}

/* Nav Dropdown */
.nav-dropdown{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 100px;
  background: #ffffff;
  border-top: 2px solid var(--gray-100);
  z-index: 0;
  box-shadow: 1px 1px 10px #00000010;
  border-end-start-radius: 20px;
  border-end-end-radius: 20px;
}

.nav-dropdown-list{
  position: relative;
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 2vw 0;
  justify-items: center;
  row-gap: 2vw;
}

.nav-drop-list-hover{
  transition: all 0.3s ease;
  padding: 6px 20px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  gap: 1vw;
}
.nav-drop-list-hover:hover{
  background: var(--gray-100);
}
.nav-drop-list-hover img{
  width: 4vw;
  transition: all 0.3s ease;
}
.nav-drop-list-hover:hover img{
  scale: 0.95;
}

.nav-drop-title{
  font-size: 1.2vw;
  color: var(--text-head);
  font-weight: 500;
}

.nav-drop-text{
  font-size: 16px;
}

/*================ Header CSS STOP Main============= */


/*================ IndexPage CSS START Main============= */

/* Hero Section - 1920 */
#hero{
  height: 100vh;
  width: 100vw;
}
.hero-left{
  width: 50%;
}
/* .Your{
  margin-bottom: 1.5vw;
} */
.google-logo-hero{
  height: auto;
  width: 100%;
}
.hero-para{
  font-size: 1.25vw;
  width: 24vw;
  font-weight: 500;
}
.hero-right{
  width: 40%;
  text-align: end;
  position: relative;
}
.hero-img-bg {
  position: absolute;
  height: 45%;
  width: 81%;
  background: white;
  top: 26%;
  left: 10%;
  z-index: -1;
  scale: 0;
}
.hero-img{
  width: 32vw;
  height: 100%;
  mix-blend-mode: darken;
  opacity: 0;
  transform: translateX(100px);
}
.scroll-down-btn{
  position: absolute;
  bottom: 4%;
  left: 6%;
  border-radius: 50%;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: all .45s cubic-bezier(.785,.135,.15,.86);
}
.scroll-down-btn a{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-down-btn a>svg{
  width: 4.5vw;
  height: 4.5vw;
}
.hero-svg-circle{
  stroke-width: 1.5px;
  stroke-dasharray: 0% 300%;
}
.scroll-down-btn-img {
  height: 1.3vw;
  overflow: hidden;
  stroke-width: 0;
}
.scroll-down-btn-img g{
  transform-origin: center;
  transition: var(--transition-btn);
}
.scroll-down-btn-img .first-path{
  transform: translateY(-110%) scale(0);
}
.scroll-down-btn:hover .scroll-down-btn-img .first-path{
  transform: translateY(0%) scale(1);
}
.scroll-down-btn:hover .scroll-down-btn-img .second-path{
  transform: translateY(110%) scale(0);
}

.hero-anim{
  overflow: hidden;
  line-height: 1;
}
.hero-anim .span{
  display: block;
  line-height: 1.3;
  margin-top: -1vw;
  transform: translateY(100%);
}
.google-logo-hero.span{
  margin-top: unset;
  display: block;
}
.hero-para span .word{
  transform: translateY(100%);
  opacity: 0;
}

/* Hero Section - 1920 End - Index*/

/* Features Section - 1920 Start - Index*/

.content{
  padding: 5vw 0;
}
.features-top{
  margin-bottom: 4vw;
}
.features-left{
  width: 35%;
}
.feat-head{
  font-size: 1.25vw;
  font-weight: 500;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 2.5vw;
}
.feat-head .featured-line{
  background: black;
  height: 1px;
  width: 100%;
  margin-top: 5px;
}
.features-right{
  width: 55%;
  padding-top: 1vw;
}
.feat-accordion-item{
  padding: 2vw 20px;
  position: relative;
  cursor: pointer;
}
.feat-accordion-item .accordion-content{
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}
.feat-accordion-item.open .accordion-content{
  height: 18.2vw;
} 

@media screen and (max-width: 1536px) {
  .feat-accordion-item.open .accordion-content{
    height: 19.2vw;
  } 
}

.content-p{
  color: var(--text-body);
  font-size: 1.15vw;
  line-height: 1.5;
}
.feat-accordion-btn{
  position: absolute;
  width: 3vw;
  height: 3vw;
  background-color: #FDFDFD;
  right: 10px;
  top: 2.5vw;
  border: 1px solid #E2E2E2;
  border-radius: 100%;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feat-accordion-btn .plus, .feat-accordion-btn .minus{
  background: var(--text-head);
  height: 5%;
  width: 40%;
  position: absolute;
  transition: all 0.3s ease;
}

.feat-accordion-btn .plus {
  rotate: 90deg;
}

.feat-accordion-item.open .feat-accordion-btn{
  background-color: var(--text-head);
  border-color: var(--text-head);
}

.feat-accordion-item.open .feat-accordion-btn .minus{
  background: white;
}

.accordion-img{
  position: absolute;
  z-index: 9;
  left: 0%;
  top: 30vh;
  width: 23vw;
  opacity: 0;
  scale: 0.8;
}

.accordion-img.featImgAnim{
  opacity: 1;
  scale: 1;
  transition: all 0.6s ease;
}

.accordion-img img{
  width: 90%;
  height: auto;
  /* animation: featImgAnim 0.5s ease forwards; */
}

@keyframes featImgAnim {
  0% {
      opacity: 0;
      transform: scale(1.2); /* Adjust as needed */
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}

/* Features Section - 1920 End - Index*/

/* Use Cases Section - 1920 Start - Index*/
#use-cases .content{
  padding-bottom: 0;
}
.use-cases-top{
  margin-bottom: 4vw;
}
.use-cases-button{
  margin-bottom: 3vw;
}
.use-cases-list li{
  color: var(--text-head);
  position: relative;
  transition: var(--transition-1);
  opacity: 0;
}
.use-cases-list li p{
  font-size: 1.25vw;
  font-family: 'Aeonik';
}
.use-cases-list li.active{
  color: var(--primary);
  transition: var(--transition-1);
}
.use-cases-list li::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: var(--primary);
  transition: var(--transition-1);
  scale: 0;
}
.use-cases-list li.active::after{
  scale: 1;
}

.useCases-Container{
  width: 100%;
  overflow: hidden;
}
.useCases-items{
  display: inline-flex;
  width: 500%;
  align-items: center;
}

.useCase-item{
  padding: 2vw 12vw;
}
.useCase-item-left{
  width: 40%;
  height: 24vw;
}
.useCase-item-left img{
  width: 100%;
  height: 100%;
}
.useCase-item-right{
  width: 43%;
}

/* Use Cases Section - 1920 End - Index*/

/* Pricing Section - 1920 Start - Index*/
#pricing{
  background-image: url(/assets/home/pricing-bg.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: -20vh;
}
.pricing-head .title-4xl{
  margin-bottom: 3vw;
}
.pricing-card-wrapper{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  justify-content: space-between;
  gap: 1.5vw;
  margin-bottom: 3.5vw;
}
.pricing-card{
  background: #FDFDFD;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e8e8e8;
  border-radius: 16px;
  padding: 15%;
}

.pricing-image{
  width: 100%;
  height: 10.5vw;
  margin-bottom: 2.5vw;
  text-align: center;
}
.pricing-image img{
  width: 100%;
  height: 100%;
}
.pricing-category{
  font-size: 1.88vw;
  color: var(--primary);
  margin-bottom: 20px;
}
.pricing-price{
  color: #1a1a1a;
  line-height: 1;
}
.pricing-price .currency{
  font-size: 1vw;
}
.pricing-price .price{
  font-size: 3.5vw;
  font-weight: 500;
}
.pricing-type{
  font-size: 1vw;
  color: #666666;
}
.pricing-link{
  margin-top: 1.5vw;
}

.pricing-selectors{
  margin-bottom: 2.5vw;
}

.pricing-selector-type{
  font-size: 1.2vw;
  color: #A9A9A9;
  transition: 0.3s;
}
.pricing-selector-type.active{
  color: black;
}
.pricing-toggle{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

/* toggle switch */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 4.1vw;
  height: 1.9vw;
}

.toggle-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F9FBFF;
  border: 1px solid #CDDEF5;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4vw;
  width: 1.4vw;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-out;
  background-color: white;
  background: #1069DF;
  border-radius: 50%;
}
.toggle-switch input:checked + .slider:before {
  transform: translate(160%, -50%);
  transition: all 0.3s ease-out;
}

/* Drop down */
.custom-dropdown {
  position: relative;
  width: 5.5vw;
}

.custom-dropdown .selected-option {
  cursor: pointer;
  padding: 0.8vw 1vw;
  border: 1px solid #EEEEEE;
  border-radius: 100px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-weight: 500;
  font-family: 'Aeonik';
  font-size: 1vw;
}

.custom-dropdown .arrow{
  transition: 0.3s;
}
.custom-dropdown .arrow svg{
  width: 0.7vw;
  height: 0.7vw;
}

.custom-dropdown .arrow.open{
  transform: rotate(180deg);
  transition: 0.5s ease-out;
}

.custom-dropdown .options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 30px;
  z-index: 10;
  overflow: hidden;
  color: var(--primary);
  font-size: 1vw;
  transition: all 0.5s ease-out;
}

.custom-dropdown .option {
  padding: 8px 1vw;
  cursor: pointer;
}

.custom-dropdown .option:hover {
  background-color: #f0f0f0;
}

/* Pricing Section - 1920 End - Index*/

/* About Section - 1920 Start -Index*/
.about-left .title-4xl{
  margin-bottom: 2vw;
}
.para-italic{
  font-size: 1.3vw;
  font-weight: 500;
  font-family: 'Aeonik';
  font-style: italic;
}
.about-right{
  width: 35%;
  text-align: right;
}
.about-right img{
  width: 100%;
  height: 100%;
}
/* About Section - 1920 End - Index*/

/* Testimonial Section - 1920 Start - Index*/

.testimonial-card{
  width: 95%;
  background: #FDFDFD;
  border: 1px solid #e2e2e2;
  border-radius: 16px;
  padding: 1.5vw 2vw;
  height: 28vw;
  margin-bottom: 5vw;
}

.testicard-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.testi-quote-icon{
  width: 3.2vw ;
  margin-bottom: 1vw;
  object-fit: contain ;
}
.testimonial-para{
  font-size: 1vw;
  text-align: left;
  margin-bottom: 4vw;
}
.testi-details{
  border-top: 1px solid #A5A5A5;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0px 0px 10px;
  gap: 1.5vw;
  text-align: left;
}
.testi-client-image{
  border: 2px solid var(--primary);
  border-radius: 50%;
  overflow: hidden;
  width: 5vw;
  height: 5vw;
}

.testi-client-image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.testi-client-name{
  font-size: 1.2vw;
}
.testi-client-details p{
  font-size: 0.8vw;
  font-family: 'Aeonik';
  color: #444444;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide:first-child{
  margin-left: 13vw;
}
.swiper-slide:last-child{
  margin-right: 13vw !important;
}
.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
  width: 85% !important;
  left: 50% !important;
  transform: translateX(-50%);
  background: #E8E8E8;
  height: 3px !important;
}
.swiper-scrollbar-drag{
  background-color: #2a2a2a !important;
  height: 5px !important;
  top: -1px !important;
}


/* Testimonial Section - 1920 End - Index*/

/* Blogs Section - 1920 Start - Index*/
.blogs-top{
  margin-bottom: 4vw;
}
.blogs-top .title-4xl{
  margin-bottom: 1.5vw;
}
.blog-card-wrapper{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.5vw;
}
.blog-card{
  border: 1px solid #e8e8e8;
  background-color: white;
  border-radius: 16px;
  padding-bottom: 4vw;
  overflow: hidden;
  transition: 0.3s;
}
.blog-card:hover .blog-card-title{
  color: var(--primary);
}
.blog-card-image{
  width: 100%;
  height: 30vh;
  overflow: hidden;
}
.blog-card-image img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.blog-card-details{
  padding: 0 20px;
}
.blog-card-author{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.blog-card-author .head,
.blog-card-author .date{
  font-size: 16px;
  font-family: 'Ageo';
  font-weight: 500;
}
.blog-card-title{
  font-size: 1.2vw;
  color: var(--text-head);
  margin-bottom: 50px;
  transition: 0.3s;
}

/* Blogs Section - 1920 End - Index*/

/* FAQs Section - 1920 Start - Index*/
.faq-wrapper{
  width: 100%;
}
.faq-item{
  width: 100%;
  padding: 2vw 20px;
  position: relative;
  cursor: pointer;
}
.faq-item .faq-item-content{
  width: 85%;
}
.faq-item .faq-content{
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.faq-item.open .faq-content{
  height: 6vw;
}
.faq-item .faq-arrow{
  position: absolute;
  right: 3vw;
  top: 2.5vw;
}
.faq-item .faq-arrow img{
  width: 2vw;
  transition: 0.3s;
}
.faq-item.open .faq-arrow img{
  transform: rotate(-45deg);
}

/* FAQs Section - 1920 End - Index*/

/*================ IndexPage CSS END MAIN============= */
/*  */
/*===================== Footer CSS Main Start===================*/

.footer{
  width: 100%;
  background-color: #0F68DE;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  overflow: hidden;
  color: #ffffff;
  padding-top: 6vw;
}

.footer-contact{
  margin-top: 10vw;
  background-color: #fdfdfd;
  height: 100%;
}
.footer-contact__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.footer-contact-bg{
  position: absolute;
  width: 90%;
  height: 100%;
  background-color: #f8f8f8;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  left: -15vw;
  top: 0;
}
.footer-contact__content .left{
  padding: 9vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8vw;
  position: relative;
  z-index: 1;
}
.footer-contact__content .right{
  position: relative;
  width: 36.5%;
  height: 100%;
}
.footer-lottie{
  width: 100%;
  position: absolute;
  right: -8vw;
  top: -15.8vw;
}
@media screen and (max-width: 1920px) {
  .footer-lottie{
    top: -15.2vw;
  }
}
@media screen and (max-width: 1536px) {
  .footer-lottie{
    top: -16.8vw;
  }
}
@media screen and (max-width: 1440px) {
  .footer-lottie{
    top: -16.6vw;
  }
}
@media screen and (max-width: 1367px) {
  .footer-lottie{
    top: -15vw;
  }
}
@media screen and (max-width: 1280px) {
  .footer-lottie{
    top: -14.7vw;
  }
}
.footer-lottie>div{
  width: 100% !important;
  height: auto !important;
}
.footer-contact__content .left .title-4xl{
  margin: 0;
}
.footer-contact__content .left p{
  width: 60%;
  margin-bottom: 2.5vw;
}
.footer-cta-container{
  display: flex;
  width: 100%;
  gap: 2.5vw;
}
.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3vw;
}
.footer-top-left{
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.footer-logo{
  width: 60%;
}
.footer-top-left p{
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0.5vw;
}
.footer-iso img{
  width: 15%;
}
.footer-award img{
  width: 18%;
}
.footer-award img:last-child{
  width: auto;
  height: auto;
}

.footer-top-right{
  width: 30%;
  padding-top: 2vw;
}

.footer-top-right-top{
  display: flex;
  gap: 4vw;
  justify-content: flex-start;
  text-align: left;
}
.footer-link-head{
  font-size: 1.3vw;
  font-weight: 500;
  font-family: 'Aeonik';
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.footer-links .py-2{
  padding-top: 0.35vw;
  padding-bottom: 0.35vw;
}

.footer-links li a{
  font-size: 1.1vw;
  font-family: 'Aeonik';
  font-weight: 400;
  letter-spacing: 0.5px;
  position: relative;
}
.footer-links li a::after{
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  background: white;
  width: 100%;
  height: 1.5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: var(--transition-2);
}
.footer-links li a:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}
.social-links{
  margin-top: 2.5vw;
}
.social-links ul{
  display: flex;
  justify-content: flex-start;
  gap: 2vw;
  align-items: flex-end;
}
.social-links ul li a img{
  width: 90%;
}
@media screen and (max-width: 1650px) {
  .social-links ul li a img{
    width: 80%;
  }  
}
/*===================== Footer CSS Main END===================*/