@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary: #1069DF;
  --white: #ffffff;
  --sky: #f8f8ff;
  --black: #000000;
  --text-body: #3a3a3a;
  --text-head: #1a1a1a;
  --gray-100: #f9f9f9;
  --gray-200: #d9d9d9;
  --card-sky: #D7E8EE;
  --card-gray: #D7D7D7;
  --card-beige: #D9D5BF;
}

body{
  background: var(--white);
  color: var(--text-body);
  padding-top: 100px;
  font-family: 'Ageo';
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/*01. Fonts */
/*==============FONTS===================*/
@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/assets/fonts/PlusJakartaSans/PlusJakartaSans-ExtraLight.woff') format('woff');
       font-weight: 200;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/assets/fonts/PlusJakartaSans/PlusJakartaSans-Light.woff') format('woff');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/assets/fonts/PlusJakartaSans/PlusJakartaSans-Regular.woff') format('woff');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/assets/fonts/PlusJakartaSans/PlusJakartaSans-Medium.woff') format('woff');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/assets/fonts/PlusJakartaSans/PlusJakartaSans-SemiBold.woff') format('woff');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/assets/fonts/PlusJakartaSans/PlusJakartaSans-Bold.woff') format('woff');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'PlusJakartaSans';
  src: url('/assets/fonts/PlusJakartaSans/PlusJakartaSans-ExtraBold.woff') format('woff');
       font-weight: 800;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Ageo';
  src: url('/assets/fonts/Ageo/Ageo-Thin.woff') format('woff');
       font-weight: 200;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Ageo';
  src: url('/assets/fonts/Ageo/Ageo-Light.woff') format('woff');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Ageo';
  src: url('/assets/fonts/Ageo/Ageo.woff') format('woff');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Ageo';
  src: url('/assets/fonts/Ageo/Ageo-Medium.woff') format('woff');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Ageo';
  src: url('/assets/fonts/Ageo/Ageo-SemiBold.woff') format('woff');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Ageo';
  src: url('/assets/fonts/Ageo/Ageo-Bold.woff') format('woff');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}
@font-face {
  font-family: 'Ageo';
  src: url('/assets/fonts/Ageo/Ageo-ExtraBold.woff') format('woff');
       font-weight: 800;
       font-display: swap;
       font-style: normal;
}

/*==============FONTS END===================*/
.logo-container img{
  width: auto;
  height: auto;
}
.button-style-1{
  font-weight: 500;
  font-size: 1.5rem;
  border: 2px solid var(--primary);
  border-radius: 50px;
  padding: 10px 40px;
  color: var(--primary);
  transition: all 300ms ease-out;
}

.button-style-1:hover{
  color: var(--white);
  background: var(--primary);
}

.banner-circle{
  position: absolute;
  border-radius: 50%;
}
.banner-circle._c1{
  width: 280px;
  height: 280px;
  background: #0D54B2;
  z-index: 3;
}
.banner-circle._c2{
  width: 600px;
  height: 600px;
  background: #0A438E;
  z-index: 2;
}
.banner-circle._c3{
  width: 850px;
  height: 850px;
  background: #083672;
  z-index: 1;
}

/* Header - Desktop, Start */
.dropdown-list-hover{
  transition: all 150ms ease-in-out;
  padding: 6px 20px;
  border-radius: 18px;
}
.dropdown-list-hover:hover{
  background: var(--gray-100);
}
.dropdown-list-hover img{
  transition: all 150ms ease-in-out;
}
.dropdown-list-hover:hover img{
  scale: 0.95;
  transition: all 150ms ease-in-out;
}
.dropdown-list-hover:hover p{
  color: var(--primary);
}

/* Homepage Hero - desktop, start */
.hero-left{
  width: 40%;
}
.para-24{
  font-size: 22px;
  line-height: 36px;
}

/* Homepage Hero - desktop, end */

