.bouncing-blob {
    width: 25vw;
    aspect-ratio: 1;
    border-radius: 50%;
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transform-origin: left top;
    transition: all 2s;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    /* opacity: 0.5; */
  }
  
  .bouncing-blob--blue {
    background: #a3e6ff
    ;
    /* background-image: url('/assets/gradient/blue.webp'); */
  }
  
  .bouncing-blob--white {
    background: #ffffff;
    z-index: 2;
    width: 10vw;
    /* background-image: url('/assets/gradient/white.webp'); */
  }
  
  .bouncing-blob--purple {
    background: #56CCF2;
    /* background-image: url('/assets/gradient/purple.webp'); */
  }
  
  .bouncing-blob--pink {
    background: #B2FEFA;
    /* background-image: url('/assets/gradient/pink.webp'); */
  }
  
  .bouncing-blobs-container {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  
  .bouncing-blobs-glass {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    pointer-events: none;
    background: #ffffff70;
  }
  
  .bouncing-blobs {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1200px) {
    .bouncing-blobs-glass {
      backdrop-filter: blur(100px);
      -webkit-backdrop-filter: blur(100px);
    }
  }
  
  @media (max-width: 500px) {
    .bouncing-blob {
      width: 60vw;
    }
    .bouncing-blob--white {
      width: 30vw;
    }
    .bouncing-blobs-glass {
      backdrop-filter: blur(90px);
      -webkit-backdrop-filter: blur(90px);
    }
}