.footerContact {
  margin-top: 10vw;
  height: 100%;
}
.footerContact__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.footerContactBg {
  position: absolute;
  width: 90%;
  height: 100%;
  background-color: #f8f8f8;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  left: -15vw;
  top: 0;
}
.footerContact__content .left {
  padding: 9vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8vw;
  position: relative;
  z-index: 1;
}
.footerContact__content .right {
  position: relative;
  width: 35%;
  height: 100%;
  margin-right: -7%;
}
.footerLottie {
  width: 100%;
}

.footerContact__content .left .title-4xl {
  margin: 0;
}
.footerContact__content .left p {
  width: 60%;
  margin-bottom: 2.5vw;
}
.footerCtaContainer {
  display: flex;
  width: 100%;
  gap: 2.5vw;
}

@media screen and (max-width: 1024px) {
  .footerContact {
    margin-top: 20vw;
  }
  .footerContact__content {
    flex-direction: column-reverse;
  }
  .footerContactBg {
    width: 110%;
    height: 92.5vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    left: -5%;
    bottom: -5vw;
    top: unset;
  }
  .footerContact__content .right {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .footerLottie div {
    width: 70vw !important;
  }
  .footerLottie {
    text-align: center;
    width: 70vw;
  }
  .footerContact__content .left {
    padding: 10vw 5vw;
    align-items: center;
    text-align: center;
    gap: 4vw;
  }
  .footerContact__content .left p {
    width: 100%;
  }
  .footerCtaContainer {
    flex-direction: column;
    align-items: center;
    gap: 4vw;
  }
}

@media screen and (max-width: 540px) {
  .footerContactBg {
    height: 100.4vw;
  }
}
